*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'spartan',sans-serif;
}
.section-p1{
    padding: 40px 80px;
}
body{
    width: 100%;
}
#header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 20px 10px;
    background-color:white;
    box-shadow: 0 5px 15px rgba(43, 58, 80, 0.06);
    width: 100%;
    position: fixed;
}
/*home Page*/
#hero{
   background-image: url("imag/bk-vote-2022.jpg");
   height: 90vh;
   width: 100%; 
   background-size: cover;
   background-position: top 25% right 0;
   padding: 0 80px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
}
#p{
    background-color:gainsboro
}
#p .p1{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    text-align: left;
    padding: 120px 120px;
    color: rgb(11, 49, 66);
}
#make {
    background-color:white;
}
#make .ma-1{
    text-align: center;
    padding: 30px;
    color: rgb(11, 49, 66);
    font-size: 25px;
}
#make .ma-2 {
    display: flex;
    align-items: center;
    text-align:left;
    justify-content: space-between;
    padding: 80px;
    font-size: 23px;
    color: rgb(11, 49, 66);
}
/*navber*/
#navbar{
    display: flex;
    align-items: center;
    justify-content: center; 
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(11, 49, 66);
}
#navbar li a:hover,
#navbar li a.active{
    color: red;
    transition: 0.3s;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
/*company page*/
#feature {
    text-align: center;
}
#feature .fa-box{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0;
    flex-wrap:inherit;

}
#feature .pro{
    width: 40%;
    min-width: 350px;
    padding: 12px 10px;
    border: 1px solid #87CEEB;
}
#feature.pro img{
    width: 100%;
    border-radius: 20px;
}
#button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: yellow;
    background-color: yellow;
    cursor: pointer;
    border: 1px solid;
    outline: none;
    transition: o.2s;
}
/*sign page*/
  .sign-in{
    background-color:rgba(74, 99, 75, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 10px 30px;
  }
  .sign-in h1 {
    font-size: 40px;
    text-align: center;
    margin: 40px 0;
  }
  
  .sign-in p{
    font-size: 20px;
    margin: 15px;
  }
  .sign-in input{
    font-size: 16px;
    padding: 4px 4px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    outline: none;
  }
 .a{
    font-size: 20px;
    padding: 15px;
 }
  /*voting page*/
  #product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #e3e6f3;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0, 0, 0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgb(0, 0, 0,0.06);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: #FFD700;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #ece4ea;
    color: #088178;
    border: 1px solid #e3e6f3;
    position: absolute;
    bottom: 20px;
    right: 10px;
}