
/*sign-up*/
form{
  background:rgba(74, 99, 75, 0.5);
  width: 250px;
  height: 300px;
  padding: 75px 50px;
}
.Sign-up h1 {
  font-size: 40px;
  text-align: center;
  margin: 40px 0;
}

.Sign-up p{
  font-size: 20px;
  margin: 5px;
}

.Sign-up input{
  font-size: 16px;
  padding: 4px 4px;
  width: 100%;
  border: 0;
  border-radius: 5px;
  outline: none;
}

.Sign-up button{
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  border-radius: 5px;
}

.Sign-up button:hover{
  color: red;
}
